# password for Gameserver State API
api_pwd: password

# Salt for Flask's cookies
flask_secret: salt
# Salt for JWT
jwt_secret: salt

# Sendgrid API key
sendgrid_api_key: key

# Database user and password
dbuser: user
dbpwd: password

# API key for records.kacky.gg
records_api_key: key
